
@{
    ViewBag.Title = "Manage Courses";
}

<h2>Manage Courses</h2>


<div>
    <h3>Courses</h3>
    <ul>
        @foreach(var course in Model.Courses)
        {
            <li>
                <strong>@course.Name</strong>
                <button onclick="location.href='/Admin/EditCourse/@course.Id'">Edit</button>
                <button onclick="location.href='/Admin/DeleteCourse/@course.Id'">Remove</button>
                <button onclick="toggleClassrooms(@course.Id)">View Classrooms</button>
                
                
                <div id="classrooms-@course.Id" style="display:none; margin-left:20px; margin-top:10px;">
                    <h4>Classrooms for @course.Name</h4>
                    <ul>
                        @foreach(var classroom in course.Classrooms)
                        {
                            <li>
                                <strong>@classroom.Name</strong>
                                <button onclick="location.href='/Admin/EditClassroom/@classroom.Id'">Edit</button>
                                <button onclick="location.href='/Admin/DeleteClassroom/@classroom.Id'">Remove</button>
                                <button onclick="toggleStudentsInClassroom(@classroom.Id)">View Students/Instructors</button>
                                
                                
                                <div id="classroomdetails-@classroom.Id" style="display:none; margin-left:20px; margin-top:10px;">
                                    <h5>Students</h5>
                                    <ul>
                                        @foreach(var student in classroom.Students)
                                        {
                                            <li>
                                                @student.Name
                                                <button onclick="location.href='/Admin/RemoveStudentFromClassroom/@student.Id'">Remove</button>
                                            </li>
                                        }
                                    </ul>
                                    <button onclick="location.href='/Admin/AddStudentToClassroom/@classroom.Id'">Add Student</button>
                                    
                                    <h5>Instructors</h5>
                                    <ul>
                                        @foreach(var instructor in classroom.Instructors)
                                        {
                                            <li>
                                                @instructor.Name
                                                <button onclick="location.href='/Admin/RemoveInstructorFromClassroom/@instructor.Id'">Remove</button>
                                            </li>
                                        }
                                    </ul>
                                    <button onclick="location.href='/Admin/AddInstructorToClassroom/@classroom.Id'">Add Instructor</button>
                                </div>
                            </li>
                        }
                        <li>
                            <button onclick="location.href='/Admin/AddClassroom/@course.Id'">Add Classroom</button>
                        </li>
                    </ul>
                </div>
            </li>
        }
    </ul>
    <button onclick="location.href='/Admin/AddCourse'">Add New Course</button>
</div>

<script>
function toggleClassrooms(courseId) {
    var div = document.getElementById('classrooms-' + courseId);
    if(div.style.display === 'none') {
        div.style.display = 'block';
    } else {
        div.style.display = 'none';
    }
}

function toggleStudentsInClassroom(classroomId) {
    var div = document.getElementById('classroomdetails-' + classroomId);
    if(div.style.display === 'none') {
        div.style.display = 'block';
    } else {
        div.style.display = 'none';
    }
}
</script>